.tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -30px;
	padding: 5px;
	left: 3px;
	text-align: center;
	width: 26px;
}

.tooltip2 {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -30px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}

.tooltip3 {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -30px;
	padding: 2px;
	left: -9px;
	text-align: center;
	width: 75px;
}