.nav.filters>li>a {
    padding: 2px 5px; 
}


.form-control {
    height: 26px;
    /*font-size: 10px;*/
    line-height: 26px;
    padding: 3px;
}

.input-group-addon {
    height: 24px;
    /*font-size: 10px;*/
    line-height: 24px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.tiny-button {
    height: 26px;
    line-height: 26px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 8px;
}

.dropdown-toggle {
    height: 26px;
    /*font-size: 10px;*/
    line-height: 26px;
    padding: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.small-font {
    font-size: 90%;
}